.button:hover{
    -fx-background-color: #6eff5e;
}

#title{
    -fx-font-size: 50px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}